<%- include ('partials/header') %>
<h3 class="text-warning">block history</h3>
<div>
	<% for (let i in blocked) {%>
		<div>
			<a href="/p/<%=blocked[i].username%>" style="text-decoration:none">
				<div>
					<h5 class="text-warning"><%=blocked[i].blocker%> blocked <%=blocked[i].username%></h5>
				</div>
			</a>
		</div>
	<%}%>
</div>
<%- include ('partials/footer') %>
