<%- include ('partials/header') %>
<% for (let i in chats) {%>
	<small><%=chats[i].sender%></small></br><h6><%=chats[i].message%></h6>
<%}%>
<h6 id="messages"></h6>
<form action="">
	<input type="hidden" id="receiver" value="<%=receiver%>">
	<input type="hidden" id="user" value="<%=user%>">
	<input id="m">
	<button class="btn bg-info">send</button>
</form></p>
<script src="/js/chat.js"></script>
<%- include ('partials/footer') %>
