<%- include ('partials/header') %>
<%if (e) {%><span style="color:red"><%=e%></span><%}%>

<div class="row row-cols-1 row-cols-md-3">
<% if (suggestions) { for (let i in suggestions) {%>
	<div class="col mb-2">
		<div class="card text-white bg-transparent">
			<img src="/uploads/<%=suggestions[i].username%>" id="pro" onerror="this.onerror=null;this.src='/uploads/avatar.jpg';" class="card-img" width="200" height="350">
			<a href="/p/<%=suggestions[i].username%>" style="text-decoration:none">
			<div class="card-body card-img-overlay text-danger">
<<<<<<< HEAD
				<br>
=======
>>>>>>> master
				<h2 class="text-warning"><%=suggestions[i].username%></h2>
				<h3 class="btn bg-warning"><%=suggestions[i].gender%></h3><br>
				<h3 class="btn bg-warning"><%=suggestions[i].city%></h3><br>
				<h3 class="btn bg-warning"><%=suggestions[i].interests%></h3><br>
				<div class="align-self-md-end">
					<a href='/p/<%=suggestions[i].username%>' class="btn bg-danger">profile</a>
					<a href='/chat/<%=suggestions[i].username%>' class="btn bg-danger">chat</a>
				</div>
			</div>
			</a>
		</div>
	</div>

<%}}%>
</div>

<%- include ('partials/footer') %>
