<%- include ('partials/header') %>
<% for (let i in users) {%>
	<a href='/p/<%=users[i].username%>'><li class="list-group-item"><%=users[i].username%> - <%=users[i].gender%></li></a>
<%}%>
<%- include ('partials/footer') %>
