<%- include ('partials/header') %>
<p><%= token %></p>
<% for (let i in users) {%>
	<li class="list-group-item"><%= users[i].username %> - <%= users[i].email%></li>
<%}%>
<%- include ('partials/footer') %>

<script>
	navigator.geolocation.getCurrentPosition((position) => {
		console.log(position)
	})
</script>

