<%- include ('partials/header') %>
<form action="">
<input type="hidden" id="user" value="<%=user%>">
<input type="hidden" id="receiver" value="<%=match.username%>">
</form>

<div class="card col mb-2" width="auto">
	<img src='/uploads/<%=match.username%>' height="500" width="auto" onerror="this.onerror=null;this.src='/uploads/avatar.jpg'">
	<div class="card-body card-img-overlay text-danger">
		
		<h1 class="text-warning">
		<%=match.username%>
		</h1>

		<h3 class="btn bg-warning">
		<%if (match.last_seen == 0) {%>
online
<%}else {%>
offline (last seen: <%=match.last_seen%>)
<%}%>
		</h3>
		</br>

		<h3 class="btn bg-warning">
		<%= match.popularity %>/10 rating
		</h3>
		</br>
		<h3 class="btn bg-warning">
		<%= match.age %> years old
		</h3>
		</br>
		<h3 class="btn bg-warning">
		<%= match.gender %>
		</h3>
		</br>
		<h3 class="btn bg-warning">
		interested in <%= match.preference %>
		</h3>
		</br>
		<h3 class="btn bg-warning">
		likes <%= match.interests %>
		</h3>
		</br>
		<h3 class="btn bg-warning">
		<%= match.city %>, <%= match.country %>
		</h3>
		</br>
		<h3 class="btn bg-warning">
		"<%= match.bio %>"
		</h3>
		</br>
		<div>
			<button class="block btn bg-danger" id="<%=match.username%>"> <% if (adminToken) {%> suspend <% } else {%> block <% } %> </button>
			<button class="like btn bg-danger" id="<%=match.username%>">like</button>
		</div>

	</div>

</div>
<script src="/js/like.js"></script>
<script src="/js/block.js"></script>
<script src="/js/notify.js"></script>
<%- include ('partials/footer') %>
