<%- include ('partials/header') %>
<form action="">
<input type="hidden" id="user" value="<%=user%>">
<input type="hidden" id="receiver" value="<%=match.username%>">
</form>

<div class="card col mb-2">
	<img src='/uploads/<%=match.username%>' height="500" onerror="this.onerror=null;this.src='/uploads/avatar.jpg'">
	<div class="card-body bg-dark text-light">
		
		<sup class="text-warning">username</sup>
		<p><%= match.username %></p>
		<sup class="text-warning">login status</sup>
		<p><%if (match.last_seen == 0) {%>
online
<%}else {%>
offline (last seen: <%=match.last_seen%>)
<%}%></p>

		<sup class="text-warning">popularity</sup>
		<p><%= match.popularity %>/10 rating</p>
		<sup class="text-warning">age</sup>
		<p><%= match.age %> years old</p>
		<sup class="text-warning">gender</sup>
		<p><%= match.gender %></p>
		<sup class="text-warning">preference</sup>
		<p><%= match.preference %></p>
		<sup class="text-warning">interests</sup>
		<p><%= match.interests %></p>
		<sup class="text-warning">lives in</sup>
		<p><%= match.city %>, <%= match.country %></p>
		<sup class="text-warning">bio</sup>
		<p><%= match.bio %></p>
		<div>
			<button class="block btn bg-danger" id="<%=match.username%>"> <% if (adminToken) {%> suspend <% } else {%> block <% } %> </button>
			<button class="like btn bg-danger" id="<%=match.username%>">like</button>
		</div>

	</div>

</div>
<script src="/js/like.js"></script>
<script src="/js/block.js"></script>
<script src="/js/notify.js"></script>
<%- include ('partials/footer') %>
