<%- include ('partials/header') %>
<img src='/uploads/<%=match.username%>' width="200" height="200">
<form action="/p/<%=match.username%>" method="post">
	<input type="submit" value="like" id="likeButton" onclick="like()">
</form></p>
	<!-- Blocking button and like buttion proposal -->
		<button id="block">block</button>
		<button class="like" id="<%=match.username%>">like (tweaked)</button>
	<!-- End of changes to matchProfile.ejs-->
<p class="list-group-item"><%= match.username %></p>
<p class="list-group-item"><%= match.age %></p>
<p class="list-group-item"><%= match.gender %></p>
<p class="list-group-item"><%= match.orientation %></p>
<p class="list-group-item"><%= match.preference %></p>
<p class="list-group-item"><%= match.interests %></p>
<p class="list-group-item"><%= match.location %></p>
<p class="list-group-item"><%= match.bio %></p>
<script src="../../like.js"></script>
<%- include ('partials/footer') %>
