<%- include ('partials/header') %>
<h5><a href="/chat">chats</a></h5>
<% for (let a in chats) {%>
	<a href='/chat/<%=chats[a]%>'><%=chats[a]%></a><br>
<%}%>
<hr>
<h5><a href="/visitors/likes">likes/unlikes</a></h5>
<% for (let a in likes) {%>
	<a href='/p/<%=likes[a]%>'><%=likes[a]%></a><br>
<%}%>
<hr>
<h5><a href="/visitors">visits</a></h5>
<% for (let a in visits) {%>
	<a href='/p/<%=visits[a]%>'><%=visits[a]%></a><br>
<%}%>
<hr>
<%- include ('partials/footer') %>
