<%- include ('partials/header') %>
<form action="/p" method="post">
	<label for="age">age</label><br>
	<input type="text" id="age" name="age" value="<%= age %>"><br>		
	
	<label for="gender">gender:</label>
	<input type="radio" id="male" name="gender" value="male" 
	<%if(gender=="male"){%>checked<%}%>>
	<label for="male">male</label>
	<input type="radio" id="female" name="gender" value="female" 
	<%if(gender=="female"){%>checked<%}%>>
	<label for="female">female</label><br>
	
	<label for="sexual_orientation">sexual orientation:</label>
	<input type="radio" id="heterosexual" name="sexual_orientation" value="heterosexual"
	<%if(orientation=="heterosexual"){%>checked<%}%>>
	<label for="heterosexual">heterosexual</label>
	<input type="radio" id="homosexual" name="sexual_orientation" value="homosexual"
	<%if(orientation=="homosexual"){%>checked<%}%>>
	<label for="homosexual">homosexual</label>
	<input type="radio" id="bisexual" name="sexual_orientation" value="bisexual"
	<%if(orientation=="bisexual"){%>checked<%}%>>
	<label for="bisexual">bisexual</label><br>
	
	<label for="preference">preference:</label>
	<input type="radio" id="men" name="preference" value="men"
	<%if(preference=="men"){%>checked<%}%>>
	<label for="men">men</label>
	<input type="radio" id="women" name="preference" value="women"
	<%if(preference=="women"){%>checked<%}%>>
	<label for="women">women</label>
	<input type="radio" id="both" name="preference" value="both"
	<%if(preference=="both"){%>checked<%}%>>
	<label for="both">both</label><br>

	<label for="interests">interests</label><br>
	<input type="text" id="interests" name="interests" value="<%= interests%>"><br>		

	<label for="locate">location</label><br>
	<input type="text" id="locate" name="locate" value="<%= locate%>"><br>		

	<label for="bio">bio</label><br>
	<textarea id="bio" name="bio" rows="4" cols="23"><%= bio%></textarea><br>

	<label for="password">password</label><br>
	<input type="password" id="password" name="password"><br>
	<br>
	<input type="submit" value="submit">
</form><br>

	<!-- init admin -->
		<form method="post" id="adminForm" action="/p/va">
		<br><label for="admin">admin</label>
		<input type="checkbox" id="admin" name="admin" style="margin-left: 1%;"></br>
		<label for="passkey" style="display: none;" class="verify">passkey</label><br>
		<input type="password" style="display: none;" class="verify" id="passkey" name="key" required><br><br>
		<button class="verify" style="display: none;" id="kingme" type="submit">verify</button><br>
		</form><br>
		<!-- js include for async admin verification -->
			<script src="/js/admin.js"></script>
	<!-- eoc -->

<%- include ('partials/footer') %>
