<%- include ('partials/header') %>
<img src='/uploads/<%=profile.username%>' width="150" height="150"><br>
<a href='/p/upload'>upload photos</a><br>
<a href='/p'>edit profile</a></p>
<p><%= profile.username %></p>
<p><%= profile.age %></p>
<p><%= profile.gender %></p>
<p><%= profile.orientation %></p>
<p><%= profile.preference %></p>
<p><%= profile.interests %></p>
<p><%= profile.location %></p>
<p><%= profile.bio %></p>
<%- include ('partials/footer') %>
