<%- include ('partials/header') %>
<h2 class="text-warning">registration</h2><br>
<form action="/signup" method="post">
	<div class="form-group col-md-4">
		<label for="username" class="text-warning">username</label><br>
		<input type="text" id="username" name="username" class="form-control" required value="<%=i.username%>"> 
		<%if (e && e.username) {%><span class="text-danger"><%=e.username%></span><%}%>
	</div>
	
	<div class="form-group col-md-4">
		<label for="first_name" class="text-warning">first name</label><br>
		<input type="text" id="first_name" name="first_name" class="form-control"required value="<%=i.first_name%>">
		<%if (e && e.first_name) {%><span class="text-danger"><%=e.first_name%></span><%}%>
	</div>
	
	<div class="form-group col-md-4">
		<label for="last_name" class="text-warning">last name</label><br>
		<input type="text" id="last_name" name="last_name" class="form-control" required value="<%=i.last_name%>">
		<%if (e && e.last_name) {%><span class="text-danger"><%=e.last_name%></span><%}%>
	</div>
	
	<div class="form-group col-md-4">
		<label for="password" class="text-warning">password</label><br>
		<input type="password" id="password" name="password" class="form-control">
		<%if (e && e.password) {%><span class="text-danger"><%=e.password%></span><%}%>
	</div>
	
	<div class="form-group col-md-4">
		<label for="email" class="text-warning">email</label><br>
		<input type="text" id="email" name="email" class="form-control" required value="<%=i.email%>">
		<%if (e && e.email) {%><br><span style="color:red"><%=e.email%></span><%}%>
	</div>
				
	<div class="form-group col-md-4">
		<input type="submit" value="submit" class="btn bg-danger">
	</div>
</form>
<%- include ('partials/footer') %>
